@model Quanli.Models.Training
@{
    ViewBag.Title = "Form";
}

<h2>Hello @Model.Name</h2>
@using (Html.BeginForm("Save", "Training"))// goi save trong controler
{
    <div class="form-group-">
        <p>Email: @Model.Email</p>
    </div>
    <div class="form-group-">
        @Html.LabelFor(m => m.Name)
        @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group-">
        @Html.LabelFor(m => m.BirthDate)
        @Html.TextAreaFor(m => m.BirthDate, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => Model.Email)
    <button class="btn btn-default" type="submit">Save</button>

}



