@model Quanli.Models.Trainer
@{
    ViewBag.Title = "InformationForm";
}

<h2>Information</h2>
@using (Html.BeginForm("Save", "ManangerAccount"))
{
    <p>@Model.Email</p>
    <div class="form-group-">
        @Html.LabelFor(m => m.Name)
        @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group-">
        @Html.LabelFor(m => m.BOD)
        @Html.TextAreaFor(m => m.BOD, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => Model.Email)
    <button class="btn btn-default" type="submit">Save</button>
}

